<!-- Event binding -->
<!-- <input type="text" name="" value="" (input)="onUpdateServerName($event)">
 -->
<!-- <br> -->
<!-- Two way binding -> combine Property and Event binding -->
<input type="text" name="" value="" [(ngModel)]="serverName">

<!-- <p>{{ serverName }}</p> -->
<br>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Button</button>
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- <p>{{ serverCreationStatus }}</p> -->

<p *ngIf="serverCreated; else noServer">Server was created. Name is {{ serverName }}</p>
<!-- <p *ngIf="!serverCreated">No Server was created.</p> -->
<ng-template #noServer>
	<p>No server was created</p>
</ng-template>


<hr>
<app-server></app-server>
<app-server></app-server>